.input{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    width: 151px;
    height: 42px;
    background: #E6F0F0;
    border-radius: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #006666;
    border: none;
    margin-right: 20px;
}

.input:hover{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    width: 151px;
    height: 42px;
    background: #3AB8BC;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFF;
    border: none;
}

.input:disabled{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    gap: 12px;
    width: 151px;
    height: 42px;
    background: #E6F0F0;
    border-radius: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    /* Basic / Dark Green */

    color: #006666;

    opacity: 0.45;
}

.input:checked{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    width: 151px;
    height: 42px;
    background: #006666;
    border-radius: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

